@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

header{
	display: flex;
	flex-direction: row;
	font-family: Lato;

	align-items: center;

	font-size: 1.5vw;
}

a{
	color: inherit;
	text-decoration: inherit;
}

#headerlogo{
	justify-self: right;
	
	height: 9vh;
}

#spacer{
	width: 80%;
}

.headerbutton{
	margin: 1vw;
}

#pfp{
	font-size: 4vw !important;
}