{% extends 'base.html' %}

{% block content %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {{ book['name'] }} {% endblock %}</title>
    <link rel="stylesheet" href="/static/detailsstyle.css">
    <link rel="stylesheet" href="/static/header.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script defer src="/static/detailsscript.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css">
    <script defer src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>

<style>
    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
    }
    </style>

    <main id="swup" class="transition-fade">

    <div id="back-wrapper">
        <a href="/feed">
            <span class="material-symbols-outlined">
                arrow_back
            </span>
        </a>
    </div>

    <div class="main-wrapper">
      <img src="https://aluyrcjqzpacibftkfwr.supabase.co/storage/v1/object/public/covers/{{ book['cover'] }}" alt='Book cover chosen by the publisher' class="bookcover"/>
        <span class="small-spanner"></span>

        <span class="material-symbols-outlined column2 title-icon">
            book
        </span>
        <h1 class="book-title">{{ book['name'] }}</h1>

        <span class="material-symbols-outlined book-author column2 subtitle-icon">
            person
        </span>
        <h2 class="book-author">{{ book['author'] }}</h2>

        <span class="material-symbols-outlined status-text column2 subtitle-icon">
            draw
        </span>
        <p class="status-text">In development</p>

        <span class="material-symbols-outlined language-text column4">
            language
        </span>
        <p class="language-text">{{ book['language'] }}</p>

        <span class="material-symbols-outlined chapters-text column2">
            collections_bookmark
        </span>
        <p class="chapters-text">Chapters: {{ totalchapters }}</p>
        
        <span class="material-symbols-outlined valoration-text column4">
            star_rate
        </span>
        <p class="valoration-text">4.7/5</p>
        
        <a class="buy-div" href="/controls/bulkbuy/{{ book['id'] }}">
                <span class="material-symbols-outlined buy-button">
                    shopping_cart_checkout
                </span>

                <p class="buy-text">Buy now</p>
        </a>
        
        <span class="material-symbols-outlined price-tag column4">
            sell
        </span>
        <p class="price-tag">{{ book['price'] }}€</p>


        <div class="description-wrapper">

            <h2 class="description-title">
                Description and author notes
            </h2>

            <p class="description-text">
                {{ book['description'] }}
            </p>
        </div>
        <span class="spanner"></span>
    
    </div>
    <div class="chapter-title-wrapper">
    
        <h2  id="continue-reading-title">
            Chapters
        </h2>
	
        <hr class="rowelement rowline" id="continue-reading-line">
    </div>
    {% if book['chapters'] == [] %}
    <div class="nochapters">
        <h2 class="nochapterstext">
            It seems that this book doesn't have any chapters...
        </h2>
    </div>

    {% else %}
    {% for chapter in chapters %}
    <div class="chapter-wrapper">
        <span class="material-symbols-outlined chapter-icon">
            menu_book
        </span>
        <h3 class="chapter-title">{{ chapter['name'] }}</h3>
        <p class="description-button" onclick="toggleDesc('{{loop.index0}}')">
            Show description
        </p>

        <span class="material-symbols-outlined price-icon">
            sell
        </span>
        <p class="price-tag2">{{ chapter['price'] }}€</p>

        <div class="buy-div2">
            {% if chapter['id']|string in chaptersOwned['chapters'] %}
                    <a href="/manga/reader/{{ chapter['id'] }}">
                <span class="material-symbols-outlined buy-button">
                    manga
                </span>
            </a>
         {% else %}

                    <a href="/controls/buy/{{ book['id'] }}/{{ chapter['id'] }}">
                <span class="material-symbols-outlined buy-button">
                    shopping_cart_checkout
                </span>
            </a>
                    {% endif %}
        </div>

        <p class="chapter-description-text" id="{{loop.index0}}">
            {{ chapter['description'] }}
        </p>
    </div>
    {% endfor %}
    {% endif %}

    </main>

{% endblock %}
