{% extends 'base.html' %}

{% block content %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link rel="stylesheet" href="../static/loginstyle.css">
	<link rel="stylesheet" href="../static/header.css">
	<link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css">
	<title>{% block title %} Login {% endblock %}</title>

	<div class="logingridcontainer">
		<div class="logintitle">
			<h1 class="logintitletext" id="logintext">
				<b>
					<div id="line1">
						It's nice
					</div>
					<div id="line2">
						to see you
					</div>
					<div id="line3">
						again.
					</div></b>
			</h1>
		</div>
		<div class="loginform">
			<form action="{{MAINURL}}/sessions/login" method="POST">
				<p class="formtext">
					Mail:
				</p>
				<input type="email" name="mail" id="mail" required placeholder="example@example.com" class="formtextinput">

				<p class="formtext">
					Password:
				</p>
				<input type="password" name="password" id="password" required placeholder="Password" class="formtextinput">
				
				<div>
					<button id="submit-button" type="submit">Login</button>
				</div>
				<p>Don't have an account? <a href="/sessions/signupform">Signup</a></p>
				</form>
		<!--<p>
			Forgot your password? We've you covered, <a href='/sessions/resetpasswordform' class="hyperlink">reset password.</a>
		</p> !-->
	</div>
</div>
{% endblock %}