{% extends 'base.html' %}

{% block content %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/resetpasswordstyle.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link rel="stylesheet" href="../static/header.css">
	<link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css">
	<title>{% block title %} Reset password {% endblock %}</title>

	<div class="logingridcontainer">
		<div class="logintitle">
			<h1 class="logintitletext" id="logintext">
				<b>
					<div id="line1">
						It's going
					</div>
					<div id="line2">
						to be
					</div>
					<div id="line3">
						fine.
					</div></b>
				</b>
			</h1>
		</div>
		<div class="loginform">
			<form action="{{MAINURL}}/sessions/resetpassword" method="POST">
				<p class="formtext">
					Mail:
				</p>
				<input type="email" name="mail" id="mail" required placeholder="example@example.com" class="formtextinput">
				<div>
					<button id="submit-button" type="submit">Send reset</button>
				</div>
			</form>
	</div>
</div>
{% endblock %}