{% extends 'base.html' %}

{% block content %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/search.css">
	<link rel="stylesheet" href="/static/header.css">
	<link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<title>{% block title %} Search{% endblock %}</title>

<div id="space"></div>

<form method="POST" action="/controls/results" class="centered">
	<h1>
		Search
	</h1>
	<input type="text" name="text" id="text">
	<input type="submit" id="button">
</form>

{% endblock %}